<!DOCTYPE html>
<html lang="en">
<!-- datatables.html  21 Nov 2019 03:55:21 GMT -->

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport" />
  <title><%=title%></title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="/css/app.min.css" />
  <link rel="stylesheet" href="/bundles/datatables/datatables.min.css" />
  <link rel="stylesheet" href="/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css" />
  <!-- Template CSS -->
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/components.css" />
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="/css/custom.css" />
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <%- include('../partial/navbar'); %> 
      <%- include('../partial/sidebar'); %>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Table With State Save</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-hover" id="save-state" style="width: 100%">
                        <thead>
                          <tr>
                            <th>_id</th>
                            <th>userName</th>
                            <th>phoneNo</th>
                            <th>email</th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <%- include('../partial/footer'); %> 
      <%- include('../partial/site-settings.ejs'); %>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="/js/app.min.js"></script>
  <!-- JS Libraries -->
  <script src="/bundles/datatables/datatables.min.js"></script>
  <script src="/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
  <script src="/bundles/jquery-ui/jquery-ui.min.js"></script>
  <!-- Page Specific JS File -->
  <!-- <script src="/js/page/datatables.js"></script> -->

  <script>
    $(document).ready(function() {
      $("#save-state").DataTable({
        scrollX: true,
        stateSave: true,
        ajax: {
          url: "https://expterzbackend.onrender.com/api/v1/admin/getalluser",
          type: "GET",
          dataSrc: "users", // Ensure this matches the key in your API response
          error: function(xhr, error, thrown) {
            console.error('Error fetching data: ', error);
          }
        },
        columns: [
          { data: "_id" },
          { data: "userName" },
          { data: "phoneNo" },
          { data: "email" }
        ],
        language: {
          emptyTable: "No users available."
        }
      });
    });
  </script>

  <!-- Template JS File -->
  <script src="/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="/js/custom.js"></script>
</body>

<!-- datatables.html  21 Nov 2019 03:55:25 GMT -->

</html>
